@model MyeShop.Core.Models.Product

@{
    ViewBag.Title = Model.Name + " Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
    
<div>
	<div class="col-md-4">
		<img class="img-responsive" src="~/Content/ProductImages/@Model.Image" />
	</div>
	<div class="col-md-8">
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Price)
			</dt>

			<dd>
				$@Html.DisplayFor(model => model.Price)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Category)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Category)
			</dd>

			<dt></dt>
			<dd>
				<a href="#" class="btn btn-default">Add to Basket</a>
			</dd>

			<dt></dt>
			<dd>
				@Html.ActionLink("Back to List", "Index")
			</dd>
		</dl>
	</div>
</div>

<div class="col-md-12 clearfix"></div>
